name: Clojure CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Install Leiningen
      uses: ikkentech/setup-leiningen@2
      with:
        leiningen-version: "2.11.2"

    - name: Install dependencies
      run: lein deps

    - name: Run tests
      run: lein test
